# Datasets
data/
data/*
SIC/data/

# Saved models / checkpoints
saved_models/
SIC/saved_models/

# Profiling / logs
profiling/
SIC/profiling/

# Python cache
__pycache__/
*/__pycache__/
*.pyc

# Misc
.devtools/